<h3>Bonjour  {{ item.client.nom }}:</h3>
<h3>
Votre Incription a la session de formation  qui se deroule le {{item.Sessionformation.dateDebut|date('Y-m-d')}} ,
qui porte sur {{item.Sessionformation.formation.libelle}}, a été  Annulée pour le modif suivant:
{{modif}}
 .
</h3>